<nav>
    <h3>Sort by price</h3>
    
    <button (click)="onClickAsc()">
        Ascending
    </button>
    
    <button (click)="onClickDsc()">
        Descending
    </button>
</nav>

<table>
    <caption>
        Tariffs List
      </caption>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>supplier</th>
            <th>description</th>
            <th>compare</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let item of data">
            <td data-label="id">{{item.id}}</td>
            <td data-label="name">{{item.name}}</td>
            <td data-label="price">{{item.price}}</td>
            <td data-label="supplier">{{item.supplier}}</td>
            <td data-label="description">{{item.description}}</td>
            <td data-label="compare">
                <input type="checkbox" (change)="onCheck($event)" [(ngModel)]="item.checked">
            </td>
        </tr>
    </tbody>
</table>

<footer>
    <h3>Compare Tariffs</h3>
    
    <button (click)="onClickCompare()">
        Compare
    </button>
</footer>